### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [7]:
player_total = len(purchase_data['SN'].value_counts())
pd.DataFrame({'Total Players': [player_total]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:
unique_items = len(purchase_data["Item Name"].unique())
avg_price = purchase_data["Price"].mean()
purchase_count = purchase_data["Price"].count()
total_rev = purchase_data["Price"].sum()

summary_df = pd.DataFrame([{"Total Purchases":purchase_count,
                            "Unique Items":unique_items,
                            "Average Price":avg_price,
                            "Total Revenue":total_rev}])

summary_df = summary_df[['Unique Items','Average Price','Total Purchases','Total Revenue']]
summary_df

   Unique Items  Average Price  Total Purchases  Total Revenue
0           179       3.050987              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [25]:
Gender = purchase_data.groupby('Gender')['SN'].nunique()
Gender_df = pd.DataFrame(Gender_groups)

Gender_df = Gender_df.rename(columns={'SN':'Total Count'})
Gender_df['Percentage of Players'] = round(Gender_df['Total Count']/player_total*100,2)
Gender_df['Percentage of Players'] = Gender_df['Percentage of Players'].map('{:,.2f}'.format)
Gender_df.nlargest(3,'Total Count')

                       Total Count Percentage of Players
Gender
Male                           484                 84.03
Female                          81                 14.06
Other / Non-Disclosed           11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [84]:
gender_purch = purchase_data.groupby(['Gender'])

purchase_count = gender_purch["Purchase ID"].count()
ave_purchase_price = gender_purch["Price"].mean()
total_purchase_value = gender_purch["Price"].sum()
ave_per_person = total_purchase_value / grouped_gender.nunique()["SN"]

gender_data = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": ave_purchase_price,"TotalPurchase Value" : total_purchase_value, "Avg TotalPurchase perPerson": ave_per_person})
gender_data['Average Purchase Price'] = gender_data['Average Purchase Price'].map('${:,.1f}'.format)
gender_data['TotalPurchase Value'] = gender_data['TotalPurchase Value'].map('${:,.2f}'.format)
gender_data['Avg TotalPurchase perPerson'] = gender_data['Avg TotalPurchase perPerson'].map('${:,.1f}'.format)

gender_data

,Purchase Count,Average Purchase Price,TotalPurchase Value,Avg TotalPurchase perPerson
Gender,,,,
Female,113,$3.2,$361.94,$4.5
Male,652,$3.0,"$1,967.64",$4.1
Other / Non-Disclosed,15,$3.3,$50.19,$4.6

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [94]:
age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 200]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

age_ranges = purchase_data.groupby("Age Ranges")
age_totals = age_ranges["SN"].nunique()

age_percents = (age_totals/player_total) * 100
age_demographics = pd.DataFrame({"Total Count": age_totals, "Percentage of Players": age_percents})
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [98]:
purchasecount = age_ranges['Purchase ID'].count()
avgprice = age_ranges['Price'].mean()
totval = age_ranges['Price'].sum()
avgage = totalpurchasevalue/age_totals

age = pd.DataFrame({'Purchase_Count': purchasecount, 'Average_Purchase_Price': avgprice, 'Total_Purchase_Value':totval,'Avg_Total_Purchase_per_Person': avgage})
age['Average_Purchase_Price']= age['Average_Purchase_Price'].map('${:.2f}'.format)
age['Total_Purchase_Value']= age['Total_Purchase_Value'].map('${:.2f}'.format)
age['Avg_Total_Purchase_per_Person']= age['Avg_Total_Purchase_per_Person'].map('${:.2f}'.format)

age = age.reindex(np.roll(age.index, shift=-1))
age

,Purchase_Count,Average_Purchase_Price,Total_Purchase_Value,Avg_Total_Purchase_per_Person
Age Ranges,,,,
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
SN = purchase_data.groupby("SN")

top_spenders = pd.DataFrame({
    "Purchase Count": SN["Purchase ID"].count(), 
    "Average Purchase Price": SN["Price"].mean(),
    "Total Purchase Value" : SN["Price"].sum()})
table = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

table['Average Purchase Price'] = table['Average Purchase Price'].map('${:,.2f}'.format)

table

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [69]:
items = purchase_data[["Item ID","Item Name","Price"]]
popular_items = retrieve_data.groupby(["Item ID","Item Name"])                              
popular_items = pd.DataFrame({"Purchase Count": popular_items["Price"].count(), "Item Price": popular_items["Price"].mean(), "Total Purchase Value": popular_items["Price"].sum()})
popular_item = popular_items.sort_values(["Purchase Count"], ascending=False)

popular_item['Item Price'] = popular_items['Item Price'].map('${:,.2f}'.format)
popular_item['Total Purchase Value'] = popular_items['Total Purchase Value'].map('${:,.2f}'.format)

popular_item.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [71]:
popular_format = popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
popular_format.style.format({"Item_Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})